/* .inputPassword{
  font-size: 22px;
  border-radius: 10px;
  margin-top: 5px;
}

.chakra-input__group{
  width: 100%;
  font-size: 20px;
  height: 60px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex !important;
  margin-left: 20%;
}

.chakra-input{
  width: 70%;
}

.chakra-button{
  position: absolute !important;
  top: 20px;
  right: 150px;
  background: none !important;
  border: none !important;
}
 */
