.primary-button {
  height: 60px;
  background-color: #222831;
  width: 200px;
  border-radius: 10px;
  color: #fff;
  font-size: 25px;

  border: 1px solid #222831;
  cursor: pointer;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.primary-button:hover {
  background: #0B797E;
}