#pageClassesBoard #imageBackgroud{
    position: absolute;
    filter: blur(4px);
    right:0;
    height: 100%;
    z-index: -1;
  }
  
  #pageClassesBoard .callListName{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }

  #pageClassesBoard hr {
    width: 100%;
    border: 0.1px solid #000000;
  }
  
  
  #pageClassesBoard .containerBackground{
    background-color: #56aeb5;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 500px;
    border: 1px solid #222831;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 20px #000000);
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #pageClassesBoard h4{
    margin-top: 10px;
    font-size: 22px;
    width: 100%;
    display: flex;
  }
  
  #pageClassesBoard .containerBackground .formCallList{
    margin-top: 20px;
  }
  
  #pageClassesBoard .containerBackground .newRegisterButton{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  #pageClassesBoard .containerBackground .inputText{
    height: 50px;
    width: 350px;
  }
  
  #pageClassesBoard .alunosContainer{
    text-align: left;
    margin-bottom: 10px;
  }
  
  .orders-list-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }
  
  .orders-list-items {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 235px);
    grid-gap: 20px 15px;
    justify-content: space-between;
  }
  